header {
  background-color: #c8a2c8;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: bold;
  color: #eee;
  font-size: 35px;
  text-align: start;
  margin-left: 40px;
}

header button{
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
  width: auto;
  height: 50px;
  border: none;
  background-color: #8E44AD;
  border-radius: 6px;
  cursor: pointer;
  transition: none;
  color: white;
}

button:hover {
  transform: scale(1.1);
  color: black;
}